<a href="https://colab.research.google.com/github/junheeyoon/AV/blob/master/%EC%8B%A4%EC%8A%B5%202%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. 문제
앙상블 모형 중 하나로써 데이터에서 bagging 기법으로 샘플링해 여러 Decision Tree 를 만들어 평균 치를 내는 기법을 나타내는 말은?

In [2]:
print("랜덤포레스트")

랜덤포레스트

2. 문제
boston dataset을 가지고 회귀분석을 진행했을 때 회귀식의 절편값을 구하여라.
(소수 셋째자리에서 반올림) 

use sklearn, pandas, numpy

from sklearn import datasets

boston = datasets.load_boston()

boston_df= pd.DataFrame(boston.data, columns = boston.feature_names)

boston_df["PRICE"] = pd.DataFrame(boston.target)
boston_df

x = boston_df[['CRIM','RM','LSTAT']]

y = boston_df['PRICE']

In [3]:
from sklearn import datasets
import pandas as pd

boston = datasets.load_boston()

boston_df= pd.DataFrame(boston.data, columns = boston.feature_names)

boston_df["PRICE"] = pd.DataFrame(boston.target)
boston_df

x = boston_df[['CRIM','RM','LSTAT']]

y = boston_df['PRICE']

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x,y)
print(lr.intercept_)

-2.5622510119283533

3. 문제


#fpr : false Positive rate, tpr : true positive rate
- 대출을 해줄 수 있는지 여부 판단

data_set =  https://www.kaggle.com/iconoclash/personal-loan-dataset-binary-classification

target : Personal Loan


데이터셋을 가지고 f1-score 값을 출력. (accuracy까지)

In [39]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import f1_score, accuracy_score
from sklearn.model_selection import train_test_split

In [51]:
df = pd.read_csv('/content/drive/MyDrive/빅분기실기스터디/문제/data/Personal_Loan.csv', encoding = 'cp949')
df

        ID  Age  Experience  ...  CD Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
2495  2496   46          22  ...           0       0           1
2496  2497   63          37  ...           0       0           0
2497  2498   33           9  ...           0       0           0
2498  2499   38          14  ...           0       0           0
2499  2500   53          27  ...           0       1           0

[2500 rows x 14 columns]

In [70]:
x = df.iloc[:,1:].drop(['Personal Loan', 'ZIP Code'], axis=1)

In [66]:
y = df['Personal Loan']

In [71]:
x_train, x_test, y_train, y_test  = train_test_split(x, y,test_size = 0.3)

In [72]:
MLA = [LogisticRegression(), RandomForestClassifier(), MLPClassifier(), SVC()]

for i in MLA:
    model = i
    model.fit(x_train,y_train)
    y_predict = model.predict(x_test)
    f1 = f1_score(y_test,y_predict)
    acc = accuracy_score(y_test,y_predict)
    print(str(model))
    print('acc: ', round(acc,2))
    print('f1_score: ', round(f1,2))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
acc:  0.97
f1_score:  0.8
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
acc:  0.98
f1_score:  0.9
MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)
acc:  0.97
f1_score:  0.86
SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)
acc:  0.91
f1_score:  0.14

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)